@import './hack.less';
#ft{
	position: fixed;
	z-index: 999;
	bottom: 0;
	width: 90%;
	padding: 0 5%;
	height: 45px;
	line-height: 45px;
	background: #2196f3;
	overflow: hidden;
	text-align: center;
	a{
		float: left;
		width: 33.333%;
		color: #ccc;
		span{
			display: block;
		}
	}
	.active{
		span{
			color: #fff;
			transition: all .5s linear;
			transform: rotate(360deg) scale(1.2);
		}
	}
}